/* Add CSS Styling */

.odd {
    background-color: rgb(245, 172, 184);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#number-two {
    color: rgb(0, 0, 245);
    font-size: 36px;
}

#number-four {
    background-color: rgb(136, 240, 136);
    font-weight: bold;
}

.medium-font-size {
    font-size: 24px;
}