* {
  box-sizing: border-box; 
}

.header {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left-links ul,
.right-links ul {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  list-style-type: none;   /* this removes the dots on the list items*/
  padding: 1em;
  display: flex;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  text-decoration: none;   /* this removes the line under the links */
}
